# Optimisations performance npm
cache=/root/.npm
prefer-offline=true
progress=false
audit=false
fund=false
optional=false

# Cache Angular CLI
ng_cli_analytics=false
ng_cli_cache=trueclear
