@if(pageInfo?.['title'] != 'Dashboard 1' && pageInfo?.['title'] != 'Dashboard 2'){
<div class="bg-white rounded p-y-30 p-x-24 m-b-30 overflow-hidden d-flex align-items-center justify-content-between">
  <h4 class="page-title m-0 f-s-20 f-w-600">
    {{ 'PAGE_TITLES.' + pageInfo?.['title'] | translate }}
  </h4>
  <div class="d-flex align-items-center overflow-hidden">
    <ul class="breadcrumb">
      @for (url of pageInfo?.['urls']; track url.url; let index = $index, last = $last) { 
        @if(!last){
          <li class="breadcrumb-item" [routerLink]="url.url">
            <a [routerLink]="url.url">{{ url.title | translate }}</a>
          </li>
        } @else {
          <!-- N'afficher l'icône chevron que s'il y a plus d'un élément -->
          @if(pageInfo?.['urls'].length > 1) {
            <li class="breadcrumb-item separator">
              <i-tabler name="chevron-right" class="breadcrumb-chevron"></i-tabler>
            </li>
          }
          <li class="breadcrumb-item active">{{ url.title | translate }}</li>
        }
      }
    </ul>
  </div>
</div>
}
